@use "../../style/variebles.scss" as *;
.header {
  width: 100%;
  border-bottom: 1px solid $textColor;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $bgcColor;
}
.boxItem {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 10%;
  cursor: pointer;
}

.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnBox a {
  position: relative;
  padding-bottom: 5px;

  & span {
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 5px;
    color: $textColor;
    background-color: red;
    padding: 0 5px;
    border-radius: 50px;
  }
}

svg {
  fill: $textColor;
}
