@use "../../../app/styles/variebles.scss" as *;

.errorMessage {
  display: flex;
  justify-content: center;
  border: 1px solid red;
  border-radius: 20px;
  background-color: rgba(206, 23, 23, 0.5);
}

.errorBox {
  margin: 50px;
}

.boxBtn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.errorBtn {
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  background-color: $bgcColor;
  color: $textColor;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.errorBtn:hover {
  opacity: 0.7;
  border: 1px solid $textColor;
}
