@use "../../../common/style/variebles.scss" as *;

.button {
  padding: 5px;
  border: 1px solid $primaryColor;
  background-color: $bgcColor;
  color: $textColor;
  cursor: pointer;
  border-radius: 5px;

  &:hover:not(:disabled) {
    opacity: 0.7;
    border: 1px solid $textColor;
    transform: scale(1.05);
  }
  &:disabled {
    opacity: 0.5;
    transform: scale(1);
    cursor: not-allowed;
  }
}
